body {
    overflow-x: hidden;
}

/* header */
.container-fluid {
    padding: 0px 7%;
}

.header {
    border-bottom: 2px solid #eee;
    height: 78px;
}

.nav-link {
    color: #615f5f;
    text-transform: uppercase;
}

.nav-link:hover {
    /* border-bottom: 2px solid #615f5f; */
    color: #615f5f;
    cursor: pointer;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(20, 20, 20, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* side nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #222222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .navbar {
        z-index: 1;
    }

    .navbar-collapse {
        background-color: #615f5f;
    }

    .nav-link {
        padding-left: 14px;
        color: white;
    }
}

/* contant */
.contant {
    padding: 0px 1.3em;
}

/* payment method */
.payment-method {
    padding-top: 20px;
}

.payment-method .paying-nav {
    color: #615f5f;
}

.payment-method .active {
    font-weight: 600;
}

.paypal {
    margin-top: 15px;
}

.paypal img:hover {
    cursor: pointer;
}

.or {
    margin-top: 15px;
}

.conatact-info {
    padding: 12px;
}

.shipping {
    margin-top: 32px;
}

input {
    margin-top: 14px;
}

.name-div {
    padding: 14px;
}

.col-12 {
    padding: 0px;
}

.trems {
    color: #615f5f;
}

.form-footer {
    margin-top: 35px;
}

.continue {
    float: right;
    padding: 15px;
    background-color: #2196F3;
    color: white;
}

.continue:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(27, 128, 211);
}

@media (max-width:991px) {
    .continue {
        width: 100%;
    }

    .return {
        width: 100%;
        text-align: center
    }

    .form-footer {
        text-align: center
    }
}

.state {
    width: 100%;
    margin-top: 14px;
    height: 74%;
    background-color: #fff;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* cart */
.cart {
    background-color: #fafafa;
    padding: 10px 0px 0px 30px;
    margin-top: 12px;
}

.image-product {
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #fff;
}

.image-product img {
    width: 100%;
    height: 100%;
}

.product-name {
    margin-top: 21px;
    padding: 0px 9px;
    font-size: 12px;
}

strong {
    font-size: 13px;
    margin-top: 22px;
}


/* footer */
.footer {
    background-color: #222222;
    height: auto;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
    line-height: 52px
}

.footer .links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
}